html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #1a1a1a;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

ol ol, ul ol {
  list-style-type: lower-roman;
}

ul ul ol, ul ol ol, ol ul ol, ol ol ol {
  list-style-type: lower-alpha;
}

.content {
  margin-top: 80px;

  a {
    word-break: break-word;
  }

  code {
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    margin: 0;
    padding: 0.3em 0.4em 0.1em 0.4em;
  }

  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    line-height: 1.45;
    padding: 16px;
  }

  pre > code {
    background-color: transparent !important;
    border-radius: none;
    font-size: 90%;
    padding: 0;
  }
}

#menu {
  .pure-menu-label {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
  }

  .links {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    text-align: center;

    a {
      color: #555;
      padding: 0;
      position: relative;
      text-decoration: none;

      &:hover {
        color: #777;
      }
    }
  }
}
