<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https:////maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% css main %}
    {% seo %}
  </head>
  <body>
    <div id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
      </a>
      <div id="menu">
        <div class="pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <div class="pure-menu-label">Versions:</div>
            </li>
            {% for version in site.versions %}
              {% assign expected = "spec/" | append: version | append: ".md" %}
              {% assign found = site.pages | where: "path", expected | first %}
              {% assign selected = "" %}
              {% if version == page.version %}
                {% assign selected = " pure-menu-selected" %}
              {% endif %}
              {% if found %}
                <li class="pure-menu-item version-{{ version }}{{ selected }}">
                  <a href="{{ found.url }}" class="pure-menu-link">{{ version }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="links">
          <a href="{{ site.repo_url }}">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div id="main">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
    {% js main %}
  </body>
</html>
